@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');


* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #29A19C;
    --delete-bg: #F05454;
    --main-bg: #F0F0F0;
    --component-bg: #fff;
  }

body {
    background-color: #E5E5E5;
}

.App {
    display: flex;
}

h1 {
    color: red;
}

.modalTitle {
    font-size: 20px;
    font-weight: 700;
    color: #29A19C;
}
.modalInput {
    border-radius: 30px;
    outline: none;
    width: auto;
    width: 276px;
    height: 30px;
}

.modalAdd {
    background: #29A19C;
    color: #fff;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
}

.modalCancel {
    background: #F05454;
    color: #fff;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
}

.buttons {
    margin-top: 20px;
    width: 276px;
    display: flex;
    justify-content: space-around;
}

