/* СайдБар */

.sidebar {
    width: 230px;
    padding: 20px;
    padding-right: 0;
    background: #fff;
    box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.2);
    min-height: 100vh;
    margin-right: 70px;
}

/* Стили категории */

ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.category__title, .data__title {
    font-size: 24px;
    font-weight: 600;
    color: #29A19C;
    line-height: 32px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.category__items, .data__items {
    color: #282846;
}

.category__items li.active::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 30px;
    height: 18px;
    background: var(--accent-color);
    border-radius: 10px 0px 0px 10px;
}

.category__items li, .data__items li {
    display: flex;
    position: relative;
    align-items: center;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 20px;
    cursor: pointer;
}

.category__items li a {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    color: #282846;
    text-decoration: none;
}

.category__items img {
    margin-right: 10px;
}

.category__button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 60px;
}

.category__button:hover {
    scale: 1.03;
}

.category__button button {
    border: none;
    font-weight: 600;
    color: #29A19C;
    background: transparent;
    margin-left: 10px;
}

.category__button button:hover {
    cursor: pointer;
}